# dependencies
/client/node_modules
/api/node_modules
/.pnp
.pnp.js

# testing
/client/coverage
/api/coverage

# next.js
/api/.next/
/api/out/

# production
/client/build
/api/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/client/.env*.local
/client/.env
/api/.env*.local
/api/.env

# front-end specific
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# vercel
/api/.vercel

# typescript
/api/*.tsbuildinfo
/api/next-env.d.ts